<p id="notice"><%= notice %></p>
<h1>Yearend by Taichi</h1>
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Locate:</strong>
  <%= @book.locate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
